#logo {
    width: 6%;
}
#logo1 {
    height: 10%;
    margin-left: 2%;
    margin-top: 3%;
}

.card {
    margin-top: 10%; 
    margin-left: 20%; 
    margin-bottom: 10%; 
    margin-right: 20%; 
}

.card-text {
    text-align: justify;
}

.card-img-top {
    display: inline-flex; 
    justify-content: center;
}

.div-center {
    display: flex; 
    justify-content: center;
}