<div class="card">
    <div class="card-img-top" >
        <img src="../../../../../assets/images/logo.png" alt="Card image cap" id="logo">
        <img src="../../../../../assets/images/logosevilla.png" alt="Card image cap" id="logo1">
    </div>
    <div class="card-body">
        <h5 class="card-title">Entidad del equipo</h5>
        <p class="card-text">El Sevilla FC es el club de fútbol decano de la ciudad de 
            Sevilla. Su fundación data del año 1890.</p>
        <p class="card-text">Es el club andaluz más exitoso, con 73 temporadas en 
            Primera División y 13 títulos nacionales e internacionales en su haber: 
            una Liga (45/46), cinco Copas (35, 39, 48, 2007 y 2010), seis UEFA Europa 
            League (2006, 2007, 2014, 2015, 2016 y 2020), una Supercopa de Europa (2006) 
            y una Supercopa de España (2007). </p>
            <p class="card-text">Es el único club de Andalucía que ha logrado títulos 
                internacionales y el que más campañas ha disputado en competiciones 
                europeas: un total de 18 temporadas.</p>
        <h5 class="card-title">Administración de la plantilla de jugadores</h5>
        <p class="card-text">En esta aplicación se podrá ver la plantilla de 
            jugadores que tiene el equipo del Sevilla FC actualmente, en el año 2022.
            Además, se podrá actualizar la información de los jugadores, crear nuevos 
            registros de jugadores y eliminarlos.</p>
        <div class="div-center">
            <button class="btn btn-primary" routerLink="../players">Ver la plantilla del Sevilla FC</button>
        </div>
    </div>
</div>